# Global shark attacks

## Referencia:

https://www.kaggle.com/teajay/global-shark-attacks/version/1

In [1]:
import re 
from datetime import datetime

import numpy as np 
import pandas as pd

In [2]:
df_original = pd.read_csv('global_shark_attacks.csv', encoding='utf-8', encoding_errors = 'ignore', skipinitialspace=True)
df = df_original.copy()

Dataframe informaci√≥n general
-------

In [3]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

In [4]:
df.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Year                    5992 non-null   int64
 3   Type                    5992 non-null   object
 4   Country                 5949 non-null   object
 5   Area                    5590 non-null   object
 6   Location                5495 non-null   object
 7   Activity                5463 non-null   object
 8   Name                    5792 non-null   object
 9   Sex                     5425 non-null   object
 10  Age                     3307 non-null   object
 11  Injury                  5965 non-null   object
 12  Fatal (Y/N)             5973 non-null   object
 13  Time                    2774 non-null   object
 14  Species                 3050 non-null   object
 15  Investigator or Source  5977 non-null   object
 16  pdf                     5992 non-null   object
 17  href formula            5991 non-null   object
 18  href                    5989 non-null   object
 19  Case Number.1           5992 non-null   object
 20  Case Number.2           5992 non-null   object
 21  original order          5992 non-null   int64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [6]:
df.shape

(5992, 24)

Columnas
-------

In [7]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [8]:
def clean_columns(df):
    
    '''
    Clean columns names:
        Input: columns names.
        Return: modified column names in dataframe (df).
    '''
    
    column_clean = []
    for column in df.columns:
        column = column.strip().lower()
        column = column.replace(' ','_')
        column = column.replace('.','_')
        column = column.replace(':','_')
        column_clean.append(column)
        
    df.columns = column_clean
    
    return df.columns

In [9]:
clean_columns(df)

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order', 'unnamed__22',
       'unnamed__23'],
      dtype='object')

Valores nulos (NaN)
-------

In [10]:
# suma de los valores nulos
df.isnull().sum()

case_number                  0
date                         0
year                         0
type                         0
country                     43
area                       402
location                   497
activity                   529
name                       200
sex                        567
age                       2685
injury                      27
fatal_(y/n)                 19
time                      3218
species                   2942
investigator_or_source      15
pdf                          0
href_formula                 1
href                         3
case_number_1                0
case_number_2                0
original_order               0
unnamed__22               5991
unnamed__23               5990
dtype: int64

In [11]:
# porcentaje promedio de los valores nulos
df.isnull().mean() * 100

case_number                0.000000
date                       0.000000
year                       0.000000
type                       0.000000
country                    0.717623
area                       6.708945
location                   8.294393
activity                   8.828438
name                       3.337784
sex                        9.462617
age                       44.809746
injury                     0.450601
fatal_(y/n)                0.317089
time                      53.704940
species                   49.098798
investigator_or_source     0.250334
pdf                        0.000000
href_formula               0.016689
href                       0.050067
case_number_1              0.000000
case_number_2              0.000000
original_order             0.000000
unnamed__22               99.983311
unnamed__23               99.966622
dtype: float64

In [12]:
# Las columnas 'unnamed__22' y 'unnamed__23' est√°n vac√≠as. Se eliminan del df:
df.drop(columns=['unnamed__22', 'unnamed__23'], inplace=True)
df.head()

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989

In [13]:
df.shape

(5992, 22)

## Limpieza por columna

Date
----

In [14]:
# % de valores nulos en date
percentage_null_date = round((df['date'].isnull().sum() / len(df['date'])) * 100, 2)
percentage_null_date

0.0

In [15]:
# patr√≥n 1 utilizado
pattern_date = r'[A-Za-z]{4,}'
df['date'] = df['date'].replace(pattern_date, '', regex=True)

In [16]:
# patr√≥n 2 utilizado
pattern_date2 = r'(Ca..)'
df['date'] = df['date'].replace(pattern_date2, '', regex=True)

In [17]:
# reemplazo de algunos valores random
df['date'] = df['date'].apply(lambda x: x.replace('of', '').replace('in', '').replace('No ,', '').replace('--', '-').strip())

In [18]:
list(df['date'].unique())

['18-Sep-16',
 '17-Sep-16',
 '16-Sep-16',
 '15-Sep-16',
 '11-Sep-16',
 '07-Sep-16',
 '06-Sep-16',
 '05-Sep-16',
 '04-Sep-16',
 '01-Sep-16',
 '29-Aug-16',
 '27-Aug-16',
 '25-Aug-16',
 '07-Aug-16',
 '06-Aug-16',
 '04-Aug-16',
 '29-Jul-16',
 '28-Jul-16',
 '27-Jul-16',
 '26-Jul-16',
 '24-Jul-16',
 '23-Jul-16',
 '20-Jul-16',
 '17-Jul-16',
 '16-Jul-16',
 '15-Jul-16',
 '14-Jul-2016',
 '08-Jul-2016',
 '08-Jul-16',
 '07-Jul-16',
 '06-Jul-16',
 '04-Jul-16',
 '27-Jun-16',
 '25-Jun-16',
 '24-Jun-16',
 '23-Jun-16',
 '21-Jun-16',
 '15-Jun-16',
 '14-Jun-16',
 '11-Jun-16',
 '07-Jun-16',
 '05-Jun-16',
 '04-Jun-16',
 '02-Jun-16',
 '31-May-16',
 '29-May-16',
 '22-May-16',
 '21-May-16',
 '18-May-16',
 '15-May-16',
 '03-May-16',
 '02-May-16',
 '25-Apr-16',
 '23-Apr-16',
 '22-Apr-16',
 '19-Apr-16',
 '18-Apr-16',
 '13-Apr-16',
 '09-Apr-16',
 '08-Apr-16',
 '07-Apr-16',
 '31-Mar-16',
 '30-Mar-16',
 '28-Mar-16',
 '26-Mar-16',
 '13-Mar-16',
 '11-Mar-16',
 '10-Mar-16',
 '04-Mar-16',
 '03-Mar-2016',
 '02-Mar-16',
 '22-Feb-16',
 '19-Feb-2016',
 '12-Feb-16',
 '10-Feb-2016',
 '10-Feb-16',
 '05-Feb-16',
 '04-Feb-16',
 '29-Jan-16',
 '28-Jan-16',
 '25-Jan-16',
 '24-Jan-16',
 '23-Jan-16',
 '11-Jan-2016',
 '05-Jan-16',
 '02-Jan-16',
 '26-Dec-15',
 '25-Dec-15',
 '22-Dec-15',
 '21-Dec-15',
 '19-Dec-15',
 '13-Dec-15',
 '11-Dec-15',
 '08-Dec-15',
 '16-Nov-15',
 '15-Nov-15',
 '10-Nov-15',
 '07-Nov-15',
 '03-Nov-15',
 '01-Nov-15',
 '30-Oct-15',
 '28-Oct-15',
 '25-Oct-15',
 '21-Oct-15',
 '19-Oct-15',
 '17-Oct-15',
 '13-Oct-15',
 '09-Oct-15',
 '08-Oct-15',
 '07-Oct-15',
 '05-Oct-15',
 '04-Oct-15',
 '29-Sep-15',
 '26-Sep-15',
 '24-Sep-15',
 '20-Sep-15',
 '18-Sep-15',
 '17-Sep-15',
 '08-Sep-15',
 '06-Sep-15',
 '05-Sep-15',
 '04-Sep-15',
 '03-Sep-15',
 '01-Sep-15',
 'Sep-15',
 '29-Aug-15',
 '22-Aug-15',
 '20-Aug-15',
 '19-Aug-15',
 '18-Aug-15',
 '10-Aug-15',
 '31-Jul-15',
 '26-Jul-15',
 '25-Jul-15',
 '23-Jul-15',
 '22-Jul-15',
 '19-Jul-15',
 '10-Jul-15',
 '08-Jul-15',
 '06-Jul-15',
 '04-Jul-15',
 '03-Jul-15',
 '02-Jul-15',
 '01-Jul-15',
 '30-Jun-15',
 '27-Jun-15',
 '26-Jun-15',
 '25-Jun-2015',
 '25-Jun-15',
 '24-Jun-15',
 '23-Jun-15',
 '19-Jun-15',
 '17-Jun-15',
 '14-Jun-15',
 '13-Jun-15',
 '11-Jun-15',
 '07-Jun-15',
 '05-Jun-15',
 '01-Jun-15',
 '29-May-15',
 '25-May-15',
 '24-May-15',
 '20-May-15',
 '15-May-15',
 '09-May-15',
 '07-May-15',
 '03-May-15',
 '02-May-15',
 '29-Apr-15',
 '26-Apr-15',
 '25-Apr-15',
 '13-Apr-15',
 '11-Apr-15',
 '12-Apr-15',
 '31-Mar-15',
 '03-Apr-15',
 '29-Mar-15',
 '26-Mar-15',
 '21-Mar-15',
 '18-Mar-15',
 '16-Mar-15',
 '11-Mar-15',
 '10-Mar-15',
 '07-Mar-15',
 '15-Feb-15',
 '14-Feb-15',
 '09-Feb-15',
 '08-Feb-15',
 '05-Feb-15',
 '30-Jan-15',
 '27-Jan-15',
 '24-Jan-15',
 '19-Jan-15',
 '17-Jan-15',
 '16-Jan-15',
 '08-Jan-15',
 '06-Jan-15',
 '03-Jan-15',
 '01-Jan-15',
 '29-Dec-14',
 '28-Dec-14',
 '23-Dec-2014',
 '15-Dec-14',
 '03-Dec-2014',
 '29-Nov-14',
 '20-Nov-14',
 '19-Nov-14',
 '16-Nov-14',
 '17-Nov-2014',
 '13-Nov-14',
 '10-Nov-14',
 '08-Nov-14',
 '31-Oct-14',
 '29-Oct-14',
 '22-Oct-14',
 '20-Oct-14',
 '19-Oct-14',
 '18-Oct-14',
 '17-Oct-14',
 '14-Oct-14',
 '12-Oct-14',
 '07-Oct-14',
 '11-Oct-14',
 '05-Oct-14',
 '03-Oct-14',
 '02-Oct-14',
 '21-Sep-14',
 '12-Sep-2014',
 '13-Sep-14',
 '09-Sep-14',
 '06-Sep-14',
 '03-Sep-14',
 '02-Sep-14',
 'Sep-14',
 '31-Aug-14',
 '29-Aug-14',
 '28-Aug-14',
 '27-Aug-14',
 '25-Aug-2014',
 '24-Aug-14',
 '16-Aug-14',
 '12-Aug-14',
 '10-Aug-14',
 '09-Aug-14',
 '08-Aug-14',
 '06-Aug-14',
 '05-Aug-14',
 '02-Aug-14',
 '01-Aug-14',
 'Aug-14',
 '27-Jul-14',
 '22-Jul-14',
 '21-Jul-14',
 '20-Jul-14',
 '16-Jul-14',
 '14-Jul-14',
 '13-Jul-14',
 '12-Jul-14',
 '09-Jul-14',
 '05-Jul-14',
 '03-Jul-14',
 '27-Jun-2014',
 '25-Jun-14',
 '18-Jun-14',
 '17-Jun-2014',
 '09-Jun-14',
 '08-Jun-14',
 '07-Jun-14',
 '01-Jun-14',
 '24-May-14',
 '23-May-14',
 '22-May-14',
 '20-Nov-15',
 '15-May-14',
 '14-May-14',
 '13-May-14',
 '11-May-14',
 '10-May-2014',
 '06-May-14',
 '01-May-14',
 '24-Apr-14',
 '22-Apr-14',
 '15-Apr-14',
 '12-Apr-2014',
 '12-Apr-14',
 '04-Apr-14',
 '03-Apr-14',
 '29-Mar-14',
 '22-Mar-14',
 '21-Mar-14',
 '18-Mar-14',
 '13-Mar-14',
 '12-Mar-14',
 '02-Mar-14',
 '20-Feb-14',
 '17-Feb-2014',
 '08-Feb-14',
 '07-Feb-14',
 '26-Jan-14',
 '25-Jan-14',
 '04-Jan-14',
 '2014',
 '25-Dec-13',
 '16-Dec-13',
 '13-Dec-13',
 '11-Dec-13',
 '10-Dec-13',
 '05-Dec-13',
 '02-Dec-13',
 '30-Nov-13',
 '29-Nov-13',
 '23-Nov-13',
 '22-Nov-13',
 '12-Nov-13',
 '10-Nov-13',
 '07-Nov-13',
 '31-Oct-13',
 '28-Oct-13',
 '26-Oct-13',
 '24-Oct-13',
 '23-Oct-13',
 '20-Oct-13',
 '19-Oct-13',
 '11-Oct-13',
 '08-Oct-13',
 '06-Oct-13',
 '10-Oct-13',
 '29-Sep-13',
 '25-Sep-2013',
 '21-Sep-2013',
 '14-Sep-2013',
 '12-Sep-2013',
 '08-Sep-13',
 '07-Sep-2013',
 '02-Sep-2013',
 '01-Sep-2013',
 '31-Aug-13',
 '29-Aug-13',
 '26-Aug-13',
 '25-Aug-2013',
 '18-Aug-2013',
 '17-Aug-13',
 '14-Aug-2013',
 '13-Aug-2013',
 '11-Aug-13',
 '08-Aug-2013',
 '05-Aug-2013',
 '31-Jul-2013',
 '30-Jul-2013',
 '28-Jul-13',
 '29-Jul-2013',
 '22-Jul-2013',
 '19-Jul-13',
 '17-Jul-2013',
 '15-Jul-13',
 '14-Jul-13',
 '11-Jul-13',
 '07-Jul-13',
 '02-Jul-13',
 '30-Jun-13',
 '27-Jun-13',
 '25-Jun-13',
 '18-Jun-13',
 '17-Jun-13',
 '16-Jun-13',
 '15-Jun-13',
 '14-Jun-2013',
 '06-Jun-13',
 '27-May-13',
 '23-May-13',
 '08-May-13',
 '04-May-13',
 '28-Apr-13',
 '24-Apr-13',
 '21-Apr-13',
 '17-Apr-13',
 '14-Apr-13',
 '13-Apr-13',
 '10-Apr-13',
 '04-Apr-13',
 '02-Apr-2013',
 '02-Apr-13',
 '31-Mar-13',
 '29-Mar-13',
 '21-Mar-2013',
 '21-Mar-13',
 '16-Mar-13',
 '12-Mar-13',
 '10-Mar-13',
 '03-Mar-13',
 '27-Feb-13',
 '21-Feb-13',
 '10-Feb-13',
 '09-Feb-13',
 '01-Feb-13',
 '26-Jan-13',
 '25-Jan-13',
 '21-Jan-2013',
 '16-Jan-13',
 '13-Jan-13',
 '05-Jan-13',
 '31-Dec-12',
 '30-Dec-12',
 '28-Dec-12',
 '25-Dec-12',
 '19-Dec-12',
 '05-Dec-12',
 '02-Dec-12',
 'Dec-12',
 '30-Nov-12',
 '27-Nov-12',
 '22-Nov-12',
 '19-Nov-12',
 '04-Nov-12',
 '30-Oct-12',
 '27-Oct-12',
 '23-Oct-12',
 '19-Oct-12',
 '18-Oct-12',
 '16-Oct-12',
 '11-Oct-2012',
 '10-Oct-12',
 '02-Oct-12',
 '25-Sep-12',
 '24-Sep-12',
 '16-Sep-12',
 '10-Sep-12',
 '09-Sep-12',
 '08-Sep-12',
 '06-Sep-12',
 '04-Sep-12',
 '02-Sep-12',
 '31-Aug-12',
 '28-Aug-12',
 '26-Aug-12',
 '15-Aug-12',
 '11-Aug-12',
 '08-Aug-12',
 '06-Aug-12',
 '04-Aug-12',
 '31-Jul-12',
 '30-Jul-12',
 '24-Jul-12',
 '23-Jul-12',
 '21-Jul-12',
 '19-Jul-12',
 '14-Jul-12',
 '08-Jul-12',
 '07-Jul-12',
 '06-Jul-12',
 '28-Jun-2012',
 '26-Jun-12',
 '22-Jun-12',
 '20-Jun-12',
 '19-Jun-12',
 '18-Jun-12',
 '15-Jun-12',
 '14-Jun-12',
 '12-Jun-12',
 '10-Jun-12',
 '03-Jun-12',
 '02-Jun-12',
 '31-May-12',
 '29-May-12',
 '23-May-12',
 '20-May-12',
 '16-May-12',
 '12-May-12',
 '09-May-12',
 '06-May-12',
 '19-Apr-12',
 '11-Apr-12',
 '03-Apr-12',
 'Apr-13',
 '31-Mar-12',
 '24-Mar-12',
 '22-Mar-12',
 '20-Mar-12',
 '15-Mar-12',
 '14-Mar-12',
 '06-Mar-12',
 '05-Mar-12',
 '04-Mar-12',
 '03-Mar-12',
 '01-Mar-12',
 '26-Feb-12',
 '25-Feb-12',
 '20-Feb-12',
 '06-Feb-12',
 '22-Jan-2012',
 '27-Jan-12',
 '19-Jan-12',
 '18-Jan-12',
 '15-Jan-12',
 '13-Jan-12',
 '03-Jan-12',
 '02-Jan-12',
 '31-Dec-11',
 '26-Dec-2011',
 '25-Dec-11',
 '23-Dec-11',
 '21-Dec-11',
 '11-Dec-11',
 '07-Dec-11',
 '06-Dec-11',
 '05-Dec-11',
 '02-Dec-11',
 '29-Nov-11',
 '28-Nov-11',
 '22-Nov-11',
 '20-Nov-2011',
 '12-Nov-11',
 '11-Nov-11',
 '29-Oct-2011',
 '28-Oct-2011',
 '22-Oct-11',
 '20-Oct-11',
 '19-Oct-11',
 '11-Oct-11',
 '10-Oct-11',
 '09-Oct-11',
 '05-Oct-11',
 '02-Oct-11',
 '01-Oct-11',
 '30-Sep-11',
 '28-Sep-11',
 '24-Sep-11',
 '20-Sep-11',
 '19-Sep-11',
 '17-Sep-11',
 '16-Sep-11',
 '11-Sep-11',
 '04-Sep-11',
 '02-Sep-11',
 '31-Aug-11',
 '28-Aug-11',
 '26-Aug-11',
 '24-Aug-11',
 '23-Aug-11',
 '18-Aug-11',
 '17-Aug-11',
 '16-Aug-11',
 '16-Aug-2011',
 '15-Aug-11',
 '11-Aug-2011',
 '01-Aug-11',
 '31-Jul-11',
 '30-Jul-11',
 '25-Jul-11',
 '22-Jul-11',
 '19-Jul-11',
 '15-Jul-11',
 '13-Jul-11',
 '07-Jul-11',
 '06-Jul-11',
 '05-Jul-11',
 '30-Jun-11',
 '29-Jun-11',
 '28-Jun-11',
 '26-Jun-08',
 '24-Jun-11',
 '21-Jun-11',
 '19-Jun-11',
 '15-Jun-11',
 '14-Jun-2011',
 '12-Jun-11',
 '06-Jun-2011',
 '06-Jun-11',
 '01-Jun-11',
 '30-May-11',
 '29-May-11',
 '25-May-11',
 '22-May-11',
 '21-May-11',
 '13-May-11',
 '10-May-11',
 '07-May-2011',
 '04-May-11',
 '26-Apr-11',
 '23-Apr-11',
 '22-Apr-11',
 '16-Apr-11',
 '13-Apr-11',
 '08-Apr-11',
 '29-Mar-2011',
 '24-Mar-11',
 '23-Mar-11',
 '21-Mar-11',
 '16-Mar-11',
 '10-Mar-2010',
 '10-Mar-11',
 '28-Feb-2011',
 '23-Feb-11',
 '18-Feb-11',
 '17-Feb-11',
 '13-Feb-11',
 '12-Feb-11',
 '04-Feb-2011',
 '02-Feb-11',
 '31-Jan-11',
 '28-Jan-11',
 '26-Jan-11',
 '20-Jan-11',
 '15-Jan-11',
 '12-Jan 2011',
 '03-Jan-11',
 '26-Dec-10',
 '17-Dec-10',
 '11-Dec-10',
 '05-Dec-10',
 '03-Dec-2010',
 '01-Dec-10',
 '30-Nov-10',
 '27-Nov-2010',
 '27-Nov-10',
 '19-Nov-10',
 '15-Nov-10',
 '14-Nov-10',
 '12-Nov-2010',
 '30-Oct-10',
 '28-Oct-2010',
 '28-Oct-10',
 '25-Oct-10',
 '23-Oct-10',
 '22-Oct-10',
 '20-Oct-10',
 '09-Oct-10',
 '02-Oct-10',
 '01-Oct-10',
 '27-Sep-10',
 '24-Sep-10',
 '21-Sep-10',
 '13-Sep-2010',
 '07-Sep-10',
 '06-Sep-2010',
 '04-Sep-2010',
 '03-Sep-10',
 '02-Sep-10',
 '29-Aug-10',
 '18-Aug-10',
 '17-Aug-10',
 '14-Aug-10',
 '10-Aug-10',
 '08-Aug-10',
 '07-Aug-10',
 '05-Aug-10',
 '02-Aug-10',
 '25-Jul-10',
 '23-Jul-10',
 '19-Jul-10',
 '17-Jul-10',
 '16-Jul-10',
 '11-Jul-10',
 '04-Jul-10',
 '03-Jul-10',
 '02-Jul-10',
 '27-Jun-10',
 '25-Jun-10',
 '15-Jun-10',
 '10-Jun-10',
 '06-Jun-10',
 'Jun-10',
 '30-May-10',
 '18-May-10',
 '03-May-10',
 '01-May-10',
 '28-Apr-10',
 '19-Apr-10',
 '13-Apr-10',
 '04-Apr-10',
 '27-Mar-2010',
 '190Feb-2010',
 '16-Feb-10',
 '15-Feb-10',
 '13-Feb-10',
 '11-Feb-10',
 '06-Feb-2010',
 '06-Feb-10',
 '04-Feb-10',
 '03-Feb-10',
 '01-Feb-10',
 '31-Jan-10',
 '27-Jan-10',
 '22-Jan-10',
 '12-Jan-10',
 '09-Jan-10',
 '06-Jan-10',
 '05-Jan-10',
 '29-Dec-09',
 '26-Dec-09',
 '22-Dec-09',
 '20-Dec-09',
 '18-Dec-09',
 '16-Dec-09',
 '13-Dec-09',
 '12-Dec-09',
 '05-Dec-09',
 '25-Nov-09',
 '24-Nov-09',
 '16-Nov-09',
 '13-Nov-09',
 '11-Nov-09',
 '08-Nov-09',
 '05-Nov-09',
 '30-Oct-09',
 '29-Oct-2009',
 '28-Oct-09',
 '24-Oct-09',
 '19-Oct-09',
 '18-Oct-09',
 '17-Oct-09',
 '14-Oct-2009',
 '09-Oct-09',
 '02-Oct-09',
 '26-Sep-09',
 '18-Sep-09',
 '15-Sep-09',
 '13-Sep-09',
 '12-Sep-09',
 '07-Sep-09',
 '02-Sep-09',
 '01-Sep-09',
 '30-Aug-09',
 '29-Aug-09',
 '25-Aug-09',
 '11-Aug-09',
 '10-Aug-09',
 '06-Aug-09',
 '01-Aug-09',
 '31-Jul-09',
 '30-Jul-09',
 '29-Jul-09',
 '24-Jul-2009',
 '24-Jul-09',
 '22-Jul-09',
 '18-Jul-09',
 '11-Jul-09',
 '07-Jul-09',
 '05-Jul-09',
 '04-Jul-09',
 '27-Jun-09',
 '21-Jun-09',
 '16-Jun-09',
 '14-Jun-2009',
 '02-Jun-09',
 '01-Jun-09',
 '31-May-09',
 '25-May-09',
 '17-May-09',
 '16-May-09',
 '12-May-09',
 '06-Mar-09',
 '28-Apr-09',
 '25-Apr-2009',
 '21-Apr-09',
 '20-Apr-09',
 '19-Apr-09',
 '12-Apr-09',
 '17-Apr-09',
 '11-Apr-09',
 '06-Apr-09',
 '03-Apr-09',
 '27-Mar-09',
 '21-Mar-09',
 '20-Mar-09',
 '19-Mar-09',
 '18-Mar-09',
 '17-Mar-2009',
 '17-Mar-09',
 '16-Mar-2009',
 '02-Mar-09',
 '01-Mar-09',
 '22-Feb-09',
 '18-Feb-09',
 '12-Feb-09',
 '11-Feb-09',
 '08-Feb-09',
 '07-Feb-09',
 '27-Jan-2009',
 '26-Jan-2009',
 '25-Jan-09',
 '24-Jan-09',
 '23-Jan-09',
 '18-Jan-09',
 '16-Jan-09',
 '13-Jan-2009',
 '12-Jan-09',
 '11-Jan-09',
 '10-Jan-2009',
 '10-Jan-09',
 '06-Jan-09',
 'Jan-09',
 '30-Dec-08',
 '27-Dec-08',
 '20-Dec-08',
 '14-Dec-08',
 '10-Dec-08',
 '06-Dec-06',
 'Dec-08',
 '28-Nov-08',
 '25-Nov-08',
 '24-Nov-08',
 '09-Nov-08',
 '06-Nov-08',
 '22-Oct-08',
 '21-Oct-08',
 '12-Oct-08',
 '11-Oct-08',
 '08-Oct-08',
 '06-Oct-08',
 '28-Sep-08',
 '15-Sep-08',
 '14-Sep-08',
 '09-Sep-08',
 '08-Sep-08',
 '07-Sep-08',
 '06-Sep-08',
 '01-Sep-08',
 'Sep-08',
 '30-Aug-08',
 '28-Aug-08',
 '27-Aug-08',
 '24-Aug-08',
 '20-Aug-08',
 '18-Aug-08',
 '16-Aug-08',
 '12-Aug-08',
 '11-Aug-08',
 '30-Jul-08',
 '30-Jul-2008',
 '27-Jul-08',
 '26-Jul-08',
 '25-Jul-08',
 '24-Jul-08',
 '23-Jul-08',
 '19-Jul-08',
 '18-Jul-08',
 '13-Jul-08',
 '11-Jul-08',
 '09-Jul-08',
 '05-Jul-08',
 'Jul-2008',
 '28-Jun-08',
 '26-Jun-2008',
 '24-Jun-08',
 '21-Jun-08',
 '20-Jun-08',
 '11-Jun-08',
 '07-Jun-08',
 '02-Jun-2008',
 '01-Jun-08',
 '26-May-08',
 '24-May-08',
 '23-May-08',
 '14-May-08',
 '10-May-08',
 '07-May-08',
 '01-May-08',
 '28-Apr-08',
 '27-Apr-08',
 '26-Apr-08',
 '25-Apr-08',
 '20-Apr-08',
 '19-Apr-2008',
 '18-Apr-08',
 '17-Apr-08',
 '15-Apr-08',
 '28-Mar-08',
 '09-Apr-2008',
 '08-Apr-2008',
 '08-Apr-08',
 '03-Apr-08',
 '25-Mar-08',
 '23-Mar-08',
 '21-Mar-08',
 '15-Mar-08',
 '07-Mar-08',
 '24-Feb-08',
 '21-Feb-2008',
 '15-Feb-08',
 '07-Feb-08',
 '06-Feb-08',
 '29-Jan-08',
 '27-Jan-08',
 '19-Jan-2008',
 '14-Jan-08',
 '10-Jan-08',
 '2008',
 '-2008',
 '21-Dec-07',
 '19-Dec-07',
 '18-Dec-07',
 '15-Dec-07',
 '14-Dec-07',
 '10-Dec-07',
 '09-Dec-07',
 '07-Dec-07',
 '18-Nov-07',
 '08-Nov-07',
 '07-Nov-07',
 '06-Nov-07',
 '04-Nov-07',
 '03-Nov-07',
 'Nov-11',
 '29-Oct-07',
 '15-Oct-07',
 '13-Oct-07',
 '07-Oct-07',
 '06-Oct-07',
 '30-Sep-07',
 '28-Sep-07',
 '27-Sep-07',
 '22-Sep-07',
 '20-Sep-07',
 '17-Sep-07',
 '16-Sep-07',
 '13-Sep-07',
 '08-Sep-07',
 '05-Sep-07',
 '04-Sep-07',
 '03-Sep-07',
 '28-Aug-07',
 '26-Aug-07',
 '25-Aug-07',
 '22-Aug-07',
 '20-Aug-07',
 '19-Aug-07',
 '15-Aug-07',
 '12-Aug-07',
 '11-Aug-07',
 '09-Aug-07',
 '07-Aug-07',
 '29-Jul-07',
 '28-Jul-07',
 '22-Jul-07',
 '21-Jul-07',
 '19-Jul-2007.b',
 '19-Jul-2007.a',
 '18-Jul-07',
 '17-Jul-07',
 '10-Jul-07',
 '05-Jul-07',
 '04-Jul-07',
 'Jul-07',
 '30-Jun-07',
 '25-Jun-07',
 '24-Jun-07',
 '17-Jun-07',
 '12-Jun-07',
 '05-Jun-07',
 '26-May-07',
 '24-May-07',
 '17-May-2007',
 '16-May-07',
 '12-May-07',
 '10-May-07',
 '09-May-2007',
 '08-May-07',
 '07-May-07',
 '04-May-07',
 'May-07',
 '26-Apr-07',
 '22-Apr-07',
 '20-Apr-07',
 '13-Apr-2007',
 '09-Apr-07',
 '01-Apr-07',
 '31-Mar-07',
 '22-Mar-07',
 '21-Mar-07',
 '20-Mar-07',
 '14-Mar-2007',
 '12-Mar-07',
 '11-Mar-07',
 '05-Mar-2007',
 '04-Feb-07',
 '03-Feb-07',
 'Feb-07',
 '25-Jan-07',
 '23-Jan-07',
 '19-Jan-07',
 '14-Jan-07',
 '09-Jan-07',
 '07-Jan-07',
 '01-Jan-07',
 '18-Dec-06',
 '11-Dec-06',
 '10-Dec-06',
 '02-Dec-06',
 '25-Nov-06',
 '11-Nov-06',
 '09-Nov-06',
 '31-Oct-06',
 '16-Oct-06',
 '10-Oct-06',
 '07-Oct-06',
 '05-Oct-06',
 'Oct-06',
 '30-Sep-06',
 '29-Sep-06',
 ...]

Case Number
----

In [19]:
percentage_null_case = round((df['case_number'].isnull().sum() / len(df['case_number'])) * 100, 2)
percentage_null_case

0.0

In [20]:
# el patr√≥n de case_number es 'xxxx.xx.xx.x'
# se corriguen los que tengan '-'

pattern_casenumber = r"\d[-]\b"

df['case_number'].replace(pattern_casenumber, ".", regex=True);

Country
----

In [21]:
df[df['country'].isnull()]

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
303,2014.08.00,Aug-14,2014,Invalid,NaN,NaN,NaN,Sea disaster,Cuban refugees,M,...,Y,NaN,Shark involvement not confirmed,"Associated Press, 11/27/2014",2014.08.00-Cuban-refugees.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2014.08.00,2014.08.00,5689
2731,1983.00.00.d,1983,1983,Unprovoked,NaN,English Channel,NaN,Swimming,Padma Shri Taranath Narayan Shenoy,M,...,N,NaN,NaN,"Times of India, 2/5/2012",1983.00.00.d-Shenoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.00.00.d,1983.00.00.d,3262
3153,1970.11.00,Nov-70,1970,Unprovoked,NaN,NaN,NaN,NaN,Heinz Plotsky,M,...,N,NaN,NaN,"H.D. Baldridge (1994), SAF Case #1645",1970.11.00-NV-Plotsky.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.11.00,1970.11.00,2840
3162,1970.08.02,02-Aug-70,1970,Invalid,NaN,Caribbean Sea,Between St. Kitts & Nevis,Sea Disaster Sinking of ferryboat Christina,NaN,NaN,...,Y,Afternoon,NaN,"Rome News Tribune, 8/3/1970",1970.08.02-Christina-ferryboat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.08.02,1970.08.02,2831
3163,1970.07.05,05-Jul-70,1970,Unprovoked,NaN,NaN,NaN,NaN,male,M,...,N,Night,Mako shark,"H.D. Baldridge (1994), SAF Case #1628",1970.07.05-NV-male.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.07.05,1970.07.05,2830
3170,1970.04.00.b,Apr-70,1970,Provoked,NaN,NaN,NaN,Freediving,Lionel Jarvis,M,...,N,NaN,Wobbegong shark,"H.D. Baldridge (1994), SAF Case #1616",1970.04.00.b-NV-Jarvis.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.04.00.b,1970.04.00.b,2823
3174,1970.02.05,05-Feb-70,1970,Unprovoked,NaN,NaN,NaN,Wading,Sally Anne Irvine,F,...,N,NaN,Carpet shark,H.D. Baldridge (1994) SAF Case #1626,1970.02.05-NV-Irvine.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.02.05,1970.02.05,2819
3200,1969.08.00,Aug-69,1969,Unprovoked,NaN,NaN,NaN,NaN,Rodney Hughes,M,...,N,NaN,NaN,H.D. Baldridge (1994) SAF Case #1602,1969.08.00-NV-Hughes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1969.08.00,1969.08.00,2793
3379,1965.10.21,21-Oct-65,1965,Unprovoked,NaN,NaN,Florida Strait,The boat Caribou II sank,Mario Castellanos,M,...,N,NaN,NaN,"Lodi News Sentinel, 10/30/1965",1965.10.21-Castellanos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1965.10.21,1965.10.21,2614
3435,1964.09.27,27-Sep-64,1964,Invalid,NaN,NaN,NaN,Spearfishing,Giancarlo Griffon,M,...,NaN,11h00,NaN,C. Moore. GSAF,1964.09.27-Griffon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1964.09.27,1964.09.27,2558
3792,1960.01.26,26-Jan-60,1960,Sea Disaster,NaN,"Between Timor & Darwin, Australia",NaN,Portuguese Airliner with 9 people aboard went ...,NaN,NaN,...,N,NaN,NaN,"V.M. Coppleson (1962), p.260",1960.01.26-Portuguese airliner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.01.26,1960.01.26,2201
4005,1956.09.13,13-Sep-56,1956,Unprovoked,NaN,Near the Andaman & Nicobar Islands,NaN,Climbing back on ship,male,M,...,Y,P.M.,Blue shark,M. Hosina,1956.09.13-TunaBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.09.13,1956.09.13,1988
4040,1956.00.00.g,1956,1956,Sea Disaster,NaN,Between Comores & Madagascar,Geyser Bank,Shipwreck,"Captain Eric Hunt, the cook & a French passenger",M,...,Y,NaN,NaN,dinofish.com,1956.00.00.g-Capt-Hunt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.00.00.g,1956.00.00.g,1953
4271,1949.12.00.b,Dec-49,1949,Sea Disaster,NaN,Caribbean Sea,Between Cuba & Costa Rica,"Sea Disaster, sinking of the motorship Wingate","Albert Battles, James Dean & 4 crew",M,...,Y,NaN,Shark involvement not confirmed,"Canberra Times, 1/6/1950",1949.12.00.b-Wingate.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1949.12.00.b,1949.12.00.b,1722
4412,1944.10.24,24-Oct-44,1944,Sea Disaster,NaN,NaN,225 miles east of Hong Kong,Japanese POW ship Arisan Maru with 1800 Americ...,NaN,M,...,Y,>17h30,NaN,internet (multiple),1944.10.24-ArisanMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.10.24,1944.10.24,1581
4473,1942.11.00.a,Nov-42,1942,Sea Disaster,NaN,Off South American coast,NaN,Dutch merchant ship Zaandam torpedoed by the ...,NaN,M,...,Y,NaN,NaN,"M. Murphy; V.M. Coppleson (1962), pp.207-208",1942.11.00.a-Izzi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.11.00.a,1942.11.00.a,1520
4485,1942.06.00,Jun-42,1942,Unprovoked,NaN,300 miles east of St. Thomas (Virgin Islands),NaN,On life raft tethered to lifeboat. A seaman pu...,male,M,...,N,NaN,NaN,"V.M. Coppleson (1962), p.258",1942.06.00-on-life-raft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.06.00,1942.06.00,1508
4499,1942.00.00.e,1942,1942,Sea Disaster,NaN,NaN,NaN,Jumped overboard from torpedoed Panamanian fre...,male,M,...,Y,NaN,NaN,"V.M. Coppleson (1962), p.258",1942.00.00.e-seaman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.00.00.e,1942.00.00.e,1494
4502,1942.00.00.b,1942,1942,Boating,NaN,NaN,NaN,"Days before the surrender of Singapore, the 3 ...","Bombardier J. Hall, Private Green of the Sherw...",M,...,N,NaN,NaN,"V.M. Coppleson (1962), p.206",1942.00.00.b-Hall-Green-Jennings.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.00.00.b,1942.00.00.b,1491
4681,1935.04.12.R,12-Apr-1935,1935,Unprovoked,NaN,NaN,NaN,Diving,Pearl Purdy Scott,F,...,N,NaN,NaN,"Port Arthur News, 4/12/1935",1935.04.12.R-PearlPurdyScott.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1935.04.12.R,1935.04.12.R,1312
4790,1931.04.27.R,27-Apr-1931,1931,Unprovoked,NaN,French Southern Territories,le Saint-Paul,"Fishing, boat capsized",Quillezic,M,...,Y,NaN,NaN,"Los Angeles Times, 4/27/1931",1931.04.27.R-Quillezic.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1931.04.27.R,1931.04.27.R,1203
5189,1909.01.17,17-Jan-09,1909,Invalid,NaN,NaN,Near the equator,Jumped overboard,Thomas Butler,M,...,Y,NaN,NaN,"Star, 3/18/1909",1909.01.17-Butler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.01.17,1909.01.17,804
5346,1898.09.19.b.R,19-Sep-1898,1898,Unprovoked,NaN,NaN,NaN,Diving,Halletts,M,...,N,NaN,NaN,"Lincoln Evening News & Daily Call, 9/19/1898",1898.09.19.b.R-Halletts.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.b.R,1898.09.19.b.R,647
5347,1898.09.19.a.R,19-Sep-1898,1898,Unprovoked,NaN,NaN,NaN,Diving,male,M,...,N,NaN,NaN,"Lincoln Evening News & Daily Call, 9/19/1898",1898.09.19.a.R.Sully.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.a.R,1898.09.19.a.R,646
5370,1897.03.15.b.R,15-Mar-1897,1897,Unprovoked,NaN,Mediterranean Sea,NaN,Swimming,male,M,...,Y,NaN,NaN,"Daily Northwestern, 5/15/1897",1897.03.15.b.R-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1897.03.15.b.R,1897.03.15.b.R,623
5394,1895.06.13.R,13-Jun-1895,1895,Unprovoked,NaN,NaN,NaN,Diving,Marsh,M,...,N,NaN,NaN,"Lima Times, 6/13/1895",1895.06.13.R-EnglishDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1895.06.13.R,1895.06.13.R,599
5525,1885.04.16.R,16-Apr-1885,1885,Unprovoked,NaN,NaN,NaN,Swimming,2 males,M,...,Y,NaN,NaN,"Gleaner (Jamaica), 4/16/1885",1885.04.16.R-GermanShip.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1885.04.16.R,1885.04.16.R,468
5558,1881.08.16.R,16-Aug-1881,1881,Unprovoked,NaN,Western Banks,NaN,"Floating, holding onto an oar after dory capsized",George Sedgwick,M,...,Y,NaN,NaN,"Lewiston Evening Journal, 8/16/1881",1881.08.16.R-Sedgwick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.08.16.R,1881.08.16.R,435
5560,1881.06.25,25-Jut-1881,1881,Unprovoked,NaN,NaN,Santa Cruz,Bathing,Father Hudson,M,...,N,NaN,NaN,"Grey River Argus,10/3/1881, p.2",1881.06.25-FatherHudson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.06.25,1881.06.25,433
5589,1878.10.13,13-Oct-1878,1878,Unprovoked,NaN,NaN,NaN,Jumped overboard after murdering 2 shipmates,Sherrington,M,...,Y,NaN,NaN,The Maitland Mercury & Hunter River General Ad...,1878.10.13-Sherrington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1878.10.13,1878.10.13,404
5632,1874.06.15.a.R,15-Jun-1874,1874,Unprovoked,NaN,NaN,NaN,Salvaging a shipwreck,NaN,M,...,N,NaN,NaN,"Daily Southern Cross, 6/15/1874",1874.06.15.a.R-Achilles-tendon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1874.06.15.a.R,1874.06.15.a.R,361
5664,1869.04.10,10-Apr-1869,1869,Invalid,NaN,NaN,NaN,Fell overboard,Christian Frederick,M,...,Y,NaN,NaN,"Nelson Examiner & New Zealand Chronicle, 4/24/...",1869.04.10-Frederick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1869.04.10,1869.04.10,329
5723,1856.11.30,30-Nov-1856,1856,Unprovoked,NaN,NaN,NaN,NaN,Cornelius Conhlren,M,...,Y,NaN,NaN,"Hartford Daily Courant, 1/29/1857",1856.11.30-Conhlren.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1856.11.30,1856.11.30,270
5729,1855.07.28,28-Jul-1855,1855,Unprovoked,NaN,NaN,NaN,Bathing,"a young boy, one of the crew of the Post Boy",M,...,Y,NaN,NaN,"Maitland Mercury, 8/25/1855",1855.07.28-PostBoy-sailors.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1855.07.28,1855.07.28,264
5827,1811.03.01,01-Mar-1811,1811,Unprovoked,NaN,NaN,NaN,Fell overboard,John Walker,M,...,Y,NaN,NaN,Journal of Captain Marryat,1811.03.01-John-Walker.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1811.03.01,1811.03.01,166
5847,1742.12.17,17-Dec-1742,1742,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,...,Y,NaN,NaN,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1742.12.17,1742.12.17,146
5856,1638.00.00.R,1638,1638,Unprovoked,NaN,NaN,NaN,NaN,sailors,M,...,UNKNOWN,NaN,NaN,Sir Thomas Herbert,1638.00.00.R-Herbert,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1638.00.00.R,1638.00.00.R,137
5862,1555.00.00,1555,1555,Unprovoked,NaN,NaN,NaN,Swimming,male,M,...,UNKNOWN,NaN,NaN,Olaus Magnus,1555.00.00 - Olaus Magnus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1555.00.00,1555.00.00,131
5866,0077.00.00,77 A.D.,77,Unprovoked,NaN,Ionian Sea,NaN,Sponge diving,males,M,...,Y,NaN,NaN,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,127
5868,0.0214,214 B.C.,0,Unprovoked,NaN,Ionian Sea,NaN,Ascending from a dive,"Tharsys, a sponge diver",M,...,Y,NaN,NaN,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0.0214,0.0214,125
5889,ND-0124,2011,0,Provoked,NaN,NaN,NaN,NaN,Phillip Peters,M,...,N,NaN,NaN,"Watertown Daily Times, 7/8/2011",ND-0124-Peters.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0124,ND-0124,104
5896,nd-0114,2012,0,Unprovoked,NaN,NaN,In a river feeding into the Bay of Bengal,Netting shrimp,Sametra Mestri,F,...,N,NaN,NaN,National Georgraphic Television,ND-0114-BayOfBengal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,nd-0114,nd-0114,97
5949,ND.0044,1941-1945,0,Sea Disaster,NaN,NaN,NaN,A group of survivors on a raft for 17-days,C.,NaN,...,Y,Late afternoon,1.2 m [4'] shark,"G.A. Llano in Airmen Against the Sea, p.69",ND-0044-C.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0044,ND.0044,44

In [22]:
# % de valores nulos en country
percentage_null_country = round((df['country'].isnull().sum() / len(df['country'])) * 100, 2)
percentage_null_country

0.72

In [23]:
df['country'].fillna('unknown', inplace=True)

def clean_country(df):
    
    '''
    Clean country names:
        Input: 'country' names.
        Return: modified 'country' names in the whole dataframe.
    '''
    
    df['country'] = df['country'].astype(str)

    countries = []
    for country in df['country']:
        country = country.strip().lower()
        country = country.replace('?','')
        country = country.replace('&','')
        country = country.replace('-',' ')
        countries.append(country)
                             
    df['country'] = countries
    
    return df['country']

In [24]:
# aplicando funci√≥n 'clean_country' a todo el dataframe
clean_country(df)

0                      usa
1                      usa
2                      usa
3                australia
4                australia
               ...
5987             australia
5988             australia
5989                   usa
5990                panama
5991    ceylon (sri lanka)
Name: country, Length: 5992, dtype: object

In [25]:
# verificando que se haya modificado la columna 'country'
df

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,usa,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,usa,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,usa,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,australia,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,australia,Victoria,Bells Beach,Surfing,male,M,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,1903,0,Unprovoked,australia,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
5988,ND.0004,1903,0,Unprovoked,australia,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
5989,ND.0003,1900-1905,0,Unprovoked,usa,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
5990,ND.0002,1883-1889,0,Unprovoked,panama,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3
5991,ND.0001,1845-1853,0,Unprovoked,ceylon (sri lanka),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2

In [26]:
# verificar NaN nuevamente
df[df['country'].isnull()]

Empty DataFrame
Columns: [case_number, date, year, type, country, area, location, activity, name, sex, age, injury, fatal_(y/n), time, species, investigator_or_source, pdf, href_formula, href, case_number_1, case_number_2, original_order]
Index: []

[0 rows x 22 columns]

**Replace en valores espec√≠ficos de pa√≠ses:**
- Ceylon (Sri Lanka)        -->  Sri Lanka
- Usa                       -->  United States
- Solomon Islands / Vanuatu --> Solomon Islands
- Red Sea / Indian Ocean -> Red Sea
- Between Portugal And India --> India
- St. Maartin --> St. Martin,
- United Arab Emirates (Uae) --> 'United Arab Emirates

In [27]:
# modificando los valores en 0 por unknown
df.loc[(df['country'] == 0)] = 'unknown'

In [28]:
df['country'] = df['country'].apply(lambda x: x.replace('ceylon (sri lanka)', 'sri lanka').replace('usa', 'united states').replace('solomon islands / vanuatu', 'solomon islands').replace('red sea / indian ocean', 'indian ocean').replace('red sea', 'indian ocean').replace('between portugal and india', 'india').replace('st. maartin', 'st. martin').replace('united arab emirates (uae)', 'united arab emirates'))

In [29]:
df['country'].value_counts()

united states                 2116
australia                     1279
south africa                   565
papua new guinea               133
new zealand                    125
                              ...
mayotte                          1
gabon                            1
andaman / nicobar islandas       1
maldive islands                  1
asia                             1
Name: country, Length: 183, dtype: int64

In [30]:
list(df.groupby('country')['country'].unique().index)

['admiralty islands',
 'algeria',
 'american samoa',
 'andaman / nicobar islandas',
 'angola',
 'antigua',
 'argentina',
 'aruba',
 'asia',
 'atlantic ocean',
 'australia',
 'azores',
 'bahamas',
 'bahrein',
 'bangladesh',
 'barbados',
 'bay of bengal',
 'belize',
 'bermuda',
 'between portugal  india',
 'brazil',
 'british isles',
 'british new guinea',
 'british virgin islands',
 'british west indies',
 'burma',
 'canada',
 'cape verde',
 'caribbean sea',
 'cayman islands',
 'central pacific',
 'chile',
 'china',
 'coast of africa',
 'columbia',
 'cook islands',
 'costa rica',
 'crete',
 'croatia',
 'cuba',
 'curacao',
 'cyprus',
 'diego garcia',
 'djibouti',
 'dominican republic',
 'ecuador',
 'egypt',
 'egypt / israel',
 'el salvador',
 'england',
 'equatorial guinea / cameroon',
 'falkland islands',
 'federated states of micronesia',
 'fiji',
 'france',
 'french polynesia',
 'gabon',
 'georgia',
 'ghana',
 'grand cayman',
 'greece',
 'greenland',
 'grenada',
 'guam',
 'guatemala',
 'guinea',
 'gulf of aden',
 'guyana',
 'haiti',
 'honduras',
 'hong kong',
 'iceland',
 'india',
 'indian ocean',
 'indonesia',
 'iran',
 'iran / iraq',
 'iraq',
 'ireland',
 'israel',
 'italy',
 'italy / croatia',
 'jamaica',
 'japan',
 'java',
 'johnston island',
 'kenya',
 'kiribati',
 'korea',
 'kuwait',
 'lebanon',
 'liberia',
 'libya',
 'madagascar',
 'malaysia',
 'maldive islands',
 'malta',
 'marshall islands',
 'martinique',
 'mauritius',
 'mayotte',
 'mediterranean sea',
 'mexico',
 'micronesia',
 'mid atlantic ocean',
 'mid pacifc ocean',
 'monaco',
 'montenegro',
 'mozambique',
 'namibia',
 'netherlands antilles',
 'nevis',
 'new britain',
 'new caledonia',
 'new guinea',
 'new zealand',
 'nicaragua',
 'nigeria',
 'north atlantic ocean',
 'north pacific ocean',
 'north sea',
 'northern arabian sea',
 'northern mariana islands',
 'norway',
 'ocean',
 'okinawa',
 'pacific ocean',
 'palau',
 'palestinian territories',
 'panama',
 'papua new guinea',
 'paraguay',
 'persian gulf',
 'philippines',
 'portugal',
 'puerto rico',
 'reunion',
 'russia',
 'samoa',
 'san domingo',
 'saudi arabia',
 'scotland',
 'senegal',
 'seychelles',
 'sierra leone',
 'singapore',
 'slovenia',
 'solomon islands',
 'somalia',
 'south africa',
 'south atlantic ocean',
 'south china sea',
 'south korea',
 'south pacific ocean',
 'southwest pacific ocean',
 'spain',
 'sri lanka',
 'st helena',
 'st. martin',
 'sudan',
 'sweden',
 'syria',
 'taiwan',
 'tanzania',
 'tasman sea',
 'thailand',
 'the balkans',
 'tonga',
 'trinidad  tobago',
 'tunisia',
 'turkey',
 'turks  caicos',
 'tuvalu',
 'united arab emirates',
 'united kingdom',
 'united states',
 'unknown',
 'uruguay',
 'vanuatu',
 'venezuela',
 'vietnam',
 'western samoa',
 'yemen']

-------

Area
----

In [31]:
df[df['area'].isnull()]

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
15,2016.08.27,27-Aug-16,2016,Unprovoked,reunion,NaN,Boucan Canot,Surfing,Laurent Chardard,M,...,N,17h00,"Bull shark, 3.5 m","LaDepeche, 8/29/2016",2016.08.27-Chardard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.27,2016.08.27,5978
33,2016.07.14.4,14-Jul-2016,2016,Unprovoked,bahamas,NaN,Tiger Beach,Scuba Diving,Michael Dornellas,M,...,N,NaN,"Lemon shark, 9'","GrindTV, 7/14/2016",2016.07.14.R-TigerBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.14.R,2016.07.14.4,5960
55,2016.06.02.a,02-Jun-16,2016,Unprovoked,new caledonia,NaN,"Cte-Blanche, Nouma",Kite surfing,Pierre de Rotalier,M,...,N,Afternoon,3 m shark,"Les Nouvelles Caledoniennes, 6/3/2016",2016.06.02.a-Pierre.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.06.02.a,2016.06.02.a,5938
80,2016.03.26,26-Mar-16,2016,Provoked,bahamas,NaN,NaN,NaN,Henry Kreckman,M,...,N,NaN,"Nurse shark, 2.5-ft","Wisconsin State Journal, 4/2/2016",2016.03.26-Kreckman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.03.26,2016.03.26,5913
108,2015.12.19,19-Dec-15,2015,Unprovoked,aruba,NaN,Boat capsized,Sea disaster,Adrian Esteban Rafael,M,...,Y,NaN,NaN,"Fox News, 12/11/2015",2015.12.19-Aruba.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.12.19,2015.12.19,5885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,ND.0011,1911,0,Unprovoked,asia,NaN,NaN,Swimming,Mr. Masury,M,...,N,NaN,NaN,"Ref. J. T. Dubois in N.Y. Sun, 3/19/1911",ND-0011-Masury.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0011,ND.0011,12
5983,ND.0009,1906,0,Unprovoked,australia,NaN,NaN,Fishing,boy,M,...,Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0009-boy-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0009,ND.0009,10
5984,ND.0008,1906,0,Unprovoked,australia,NaN,NaN,Fishing,fisherman,M,...,Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0008-Fisherman2-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0008,ND.0008,9
5985,ND.0007,1906,0,Unprovoked,australia,NaN,NaN,Fishing,fisherman,M,...,Y,NaN,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8
5990,ND.0002,1883-1889,0,Unprovoked,panama,NaN,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3

In [32]:
# % de valores nulos en area
percentage_null_area = round((df['area'].isnull().sum() / len(df['area'])) * 100, 2)
percentage_null_area

6.71

In [33]:
df['area'].fillna('unknown', inplace=True)

def clean_area(df):
    
    '''
    Clean area names:
        Input: 'area' names.
        Return: clean 'area' names in the whole dataframe.
    '''
    
    df['area'] = df['area'].astype(str)

    all_areas = []
    
    for area in df['area']:
        area = area.strip()
        area = area.replace('?',' ')
        all_areas.append(area)
    
    # df['area'].fillna('unkown')
                             
    df['area'] = all_areas
    
    return df['area']

In [34]:
clean_area(df)

0                 Florida
1                 Florida
2                 Florida
3                Victoria
4                Victoria
              ...
5987    Western Australia
5988    Western Australia
5989       North Carolina
5990              unknown
5991     Eastern Province
Name: area, Length: 5992, dtype: object

In [35]:
df.tail()

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
5987,ND.0005,1903,0,Unprovoked,australia,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
5988,ND.0004,1903,0,Unprovoked,australia,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
5989,ND.0003,1900-1905,0,Unprovoked,united states,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
5990,ND.0002,1883-1889,0,Unprovoked,panama,unknown,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3
5991,ND.0001,1845-1853,0,Unprovoked,sri lanka,Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2

In [36]:
# verificar NaN nuevamente

df[df['area'].isnull()]

Empty DataFrame
Columns: [case_number, date, year, type, country, area, location, activity, name, sex, age, injury, fatal_(y/n), time, species, investigator_or_source, pdf, href_formula, href, case_number_1, case_number_2, original_order]
Index: []

[0 rows x 22 columns]

-------

Location
----

In [37]:
df[df['location'].isnull()]

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
21,2016.07.28.R,28-Jul-16,2016,Unprovoked,china,Hong Kong,NaN,Swimming,Justus Franz,M,...,N,NaN,NaN,"Klassick, 7/28/2016",2016.07.28.R-Franz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.28.R,2016.07.28.R,5972
42,2016.06.24,24-Jun-16,2016,Unprovoked,columbia,Isla Provedencia,NaN,Scuba Diving,Arturo Velez,M,...,N,11h00,"Caribbean reef shark, 4.5'",Dr. A. Velez,2016.06.24-Velez.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.06.24,2016.06.24,5951
73,2016.04.08,08-Apr-16,2016,Invalid,cape verde,Boa Vista Island,NaN,NaN,a British citizen,M,...,N,NaN,Shark involvement not confirmed,L.O.Guttke,2016.04.08-CapeVerde.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.04.08,2016.04.08,5920
80,2016.03.26,26-Mar-16,2016,Provoked,bahamas,unknown,NaN,NaN,Henry Kreckman,M,...,N,NaN,"Nurse shark, 2.5-ft","Wisconsin State Journal, 4/2/2016",2016.03.26-Kreckman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.03.26,2016.03.26,5913
83,2016.03.10,10-Mar-16,2016,Unprovoked,fiji,Vanua Levu,NaN,Diving for beche-de-mer,Maika Tabua,M,...,Y,Afternoon,NaN,"Fiji Sun, 3/12/2016",2016.03.10-Tabua.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.03.10,2016.03.10,5910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5983,ND.0009,1906,0,Unprovoked,australia,unknown,NaN,Fishing,boy,M,...,Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0009-boy-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0009,ND.0009,10
5984,ND.0008,1906,0,Unprovoked,australia,unknown,NaN,Fishing,fisherman,M,...,Y,NaN,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0008-Fisherman2-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0008,ND.0008,9
5985,ND.0007,1906,0,Unprovoked,australia,unknown,NaN,Fishing,fisherman,M,...,Y,NaN,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8
5986,ND.0006,1906,0,Unprovoked,australia,New South Wales,NaN,Swimming,Arab boy,M,...,Y,NaN,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7
5988,ND.0004,1903,0,Unprovoked,australia,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5

In [38]:
percentage_null_loc = round((df['location'].isnull().sum() / len(df['location'])) * 100, 2)
percentage_null_loc

8.29

In [39]:
df['location'].fillna('unknown', inplace=True)

def clean_location(df):
    
    '''
    Clean location names:
        Input: 'location' names.
        Return: clean 'location' names in the whole dataframe.
    '''
    
    df['location'] = df['location'].astype(str)

    all_location = []
    
    for location in df['location']:
        location = location.strip()
        location = location.replace('?',' ')
        all_location.append(location)
                             
    df['location'] = all_location
    
    return df['location']

In [40]:
clean_location(df)

0          New Smyrna Beach, Volusia County
1          New Smyrna Beach, Volusia County
2          New Smyrna Beach, Volusia County
3                          Thirteenth Beach
4                               Bells Beach
                       ...
5987                            Roebuck Bay
5988                                unknown
5989                         Ocracoke Inlet
5990                     Panama Bay 8N, 79W
5991    Below the English fort, Trincomalee
Name: location, Length: 5992, dtype: object

In [41]:
df.tail()

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
5987,ND.0005,1903,0,Unprovoked,australia,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
5988,ND.0004,1903,0,Unprovoked,australia,Western Australia,unknown,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
5989,ND.0003,1900-1905,0,Unprovoked,united states,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
5990,ND.0002,1883-1889,0,Unprovoked,panama,unknown,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3
5991,ND.0001,1845-1853,0,Unprovoked,sri lanka,Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2

In [42]:
# verificar NaN nuevamente
df[df['location'].isnull()]

Empty DataFrame
Columns: [case_number, date, year, type, country, area, location, activity, name, sex, age, injury, fatal_(y/n), time, species, investigator_or_source, pdf, href_formula, href, case_number_1, case_number_2, original_order]
Index: []

[0 rows x 22 columns]

-------

Activity
---

In [43]:
df[df['activity'].isnull()]

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
31,2016.07.16.a,16-Jul-16,2016,Unprovoked,united states,Florida,"New Smyrna Beach, Volusia County",NaN,female,F,...,N,11h00,NaN,"Orlando Sentinel, 7/21/2016",2016.07.16.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.16.a,2016.07.16.a,5962
40,2016.06.27,27-Jun-16,2016,Unprovoked,united states,South Carolina,Sullivan's Island,NaN,male,M,...,N,16h20,3' to 4' shark,"C. Creswell, GSAF",2016.06.27-Sullivans.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.06.27,2016.06.27,5953
73,2016.04.08,08-Apr-16,2016,Invalid,cape verde,Boa Vista Island,unknown,NaN,a British citizen,M,...,N,NaN,Shark involvement not confirmed,L.O.Guttke,2016.04.08-CapeVerde.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.04.08,2016.04.08,5920
78,2016.03.28.b,28-Mar-16,2016,Unprovoked,united states,Florida,"Fort Myers Beach, Lee County",NaN,Nick Kawa,M,...,N,NaN,Shark involvement not confirmed,"Fox 35, 3/30/2015",2016.03.28.b-Kawa.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.03.28.b,2016.03.28.b,5915
80,2016.03.26,26-Mar-16,2016,Provoked,bahamas,unknown,unknown,NaN,Henry Kreckman,M,...,N,NaN,"Nurse shark, 2.5-ft","Wisconsin State Journal, 4/2/2016",2016.03.26-Kreckman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.03.26,2016.03.26,5913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5959,ND.0034,1940-1946,0,Sea Disaster,pacific ocean,unknown,unknown,NaN,"8 US airmen in the water, 1 was bitten by a shark",M,...,Y,NaN,NaN,G. Llano,ND-0034-8-men-on-raft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0034,ND.0034,34
5967,ND.0025,1927,0,Unprovoked,australia,New South Wales,"Spectacle Island, Port Jackson",NaN,"male, the Sergeant of Marines",M,...,UNKNOWN,NaN,NaN,H. Capper,ND-0025-Sgt-SpectacleIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0025,ND.0025,26
5972,ND.0020,1920 -1923,0,Unprovoked,australia,Queensland,Great Barrier Reef,NaN,3 Japanese divers,M,...,Y,NaN,NaN,"V.M. Coppleson (1958), p.241",ND-0020-3JapaneseDivers.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0020,ND.0020,21
5982,ND.0010,1862,0,Unprovoked,united states,Hawaii,Puna,NaN,A chiefess,F,...,N,NaN,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11
5990,ND.0002,1883-1889,0,Unprovoked,panama,unknown,"Panama Bay 8N, 79W",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3

In [44]:
percentage_null_act = round((df['activity'].isnull().sum() / len(df['activity'])) * 100, 2)
percentage_null_act

8.83

In [45]:
df['activity'].fillna('unknown', inplace=True)

def clean_activity(df):
    
    '''
    Clean activity names:
        Input: 'activity' names.
        Return: clean 'activity' names in the whole dataframe.
    '''
    
    df['activity'] = df['activity'].astype(str)

    all_activity = []
    
    for activity in df['activity']:
        activity = activity.strip()
        activity = activity.replace('?',' ')
        all_activity.append(activity)
                             
    df['activity'] = all_activity
    
    return df['activity']

In [46]:
clean_activity(df)

0            Surfing
1            Surfing
2            Surfing
3            Surfing
4            Surfing
            ...
5987          Diving
5988    Pearl diving
5989        Swimming
5990         unknown
5991        Swimming
Name: activity, Length: 5992, dtype: object

In [47]:
df.tail()

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
5987,ND.0005,1903,0,Unprovoked,australia,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
5988,ND.0004,1903,0,Unprovoked,australia,Western Australia,unknown,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
5989,ND.0003,1900-1905,0,Unprovoked,united states,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
5990,ND.0002,1883-1889,0,Unprovoked,panama,unknown,"Panama Bay 8N, 79W",unknown,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3
5991,ND.0001,1845-1853,0,Unprovoked,sri lanka,Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2

In [48]:
# verificar NaN nuevamente

df[df['activity'].isnull()]

Empty DataFrame
Columns: [case_number, date, year, type, country, area, location, activity, name, sex, age, injury, fatal_(y/n), time, species, investigator_or_source, pdf, href_formula, href, case_number_1, case_number_2, original_order]
Index: []

[0 rows x 22 columns]

### agrupando actividades √∫nicas (value_count = 1) como 'others':

In [49]:
df['activity'].value_counts()

Surfing                                                                                                                                             907
Swimming                                                                                                                                            866
unknown                                                                                                                                             529
Fishing                                                                                                                                             426
Spearfishing                                                                                                                                        328
                                                                                                                                                   ...
Diving. Shark swallowed his hand, so he threw his other around the shark and went shark-back riding for 30 yards until the shark opened its jaws      1
Schooner sank during a storm                                                                                                                          1
Small boat with 2 men onboard hit a submerged coral formation. Men began swimming to shore                                                            1
Dynamite fishing                                                                                                                                      1
Wreck of  large double sailing canoe                                                                                                                  1
Name: activity, Length: 1464, dtype: int64

In [50]:
# aplicando groupby a las actividades individuales
group_singles_act = list(df.groupby('activity').filter(lambda x: len(x) == 1).activity)

# groupby en un diccionario que llame 'others' a estas actividades individuales
dic_singles_act = {'others': group_singles_act}

# funci√≥n que agrupa las actividades individuales
def single_activity(activity):
    
    '''
    Iterates each single activity and groups it into 'others':
        Input: dictionary with activities grouped in 'others'.
        Return: activity.
    '''
    
    for act, count in dic_singles_act.items():
        if activity in count:
            return act
        else:
            return activity

df['activity'] = df['activity'].apply(single_activity)

In [51]:
df['activity'].value_counts(dropna=False)

others                                                      1259
Surfing                                                      907
Swimming                                                     866
unknown                                                      529
Fishing                                                      426
                                                            ...
Spearfishing using Scuba                                       2
Swimming or surfing                                            2
Air disaster                                                   2
Kayak fishing                                                  2
Boat with 5 men capsized while returning to the Amerique       2
Name: activity, Length: 206, dtype: int64

-------------

Sex
-----

In [52]:
df[df['sex'].isnull()]

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
5,2016.09.15.R,15-Sep-16,2016,Boat,australia,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,N,NaN,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988
29,2016.07.17,17-Jul-16,2016,Boat,united states,Alabama,8 miles off Mobile,others,Occupant: Ben Raines,NaN,...,N,NaN,"Tiger shark, 10'","Al.com, 7/19/2016",2016.07.17-Gulf.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.17,2016.07.17,5964
81,2016.03.13,13-Mar-16,2016,Invalid,united states,California,"Bolsa Chica State Park, Orange County",Surfing,unknown,NaN,...,N,Morning,Shark involvement not confirmed,"Orange County Register, 3/13/2016",2016.03.13-BolsaChicaSurfer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.03.13,2016.03.13,5912
109,2015.12.13,13-Dec-15,2015,Boat,australia,New South Wales,Lake Macquarie,Fishing,6 m boat: occupants Stephen & Andrew Crust,NaN,...,N,10h30,"White shark, 3.5 m","Courier Mail, 12/15/2015",2015.12.13-Crust-Boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.12.13,2015.12.13,5884
225,2015.02.15,15-Feb-15,2015,Boat,atlantic ocean,unknown,unknown,Transatlantic Rowing,"Avalon, a carbon kevlar monohull: 8 occupants",NaN,...,N,NaN,White shark,"Yorkshire Post, 3/16/2014",2015.02.15-Avalon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.02.15,2015.02.15,5767
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5909,ND.0095,Feb-1998,0,Unprovoked,solomon islands,Malaita Province,Waibana Passage,Diving,Albert Raiti,NaN,...,N,NaN,NaN,"Islands Magazine, 2/1998, p.76",ND-0095-AlbertRaiti.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0095,ND.0095,84
5927,ND.0073,1963,0,Unprovoked,singapore,unknown,"Keppel Harbor, 2 miles from Singapore city ce...",Swimming,NaN,NaN,...,N,NaN,NaN,"V.M. Coppleson (1958), p.266",ND-0073-KeppelHarbourSingapore.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0073,ND.0073,66
5949,ND.0044,1941-1945,0,Sea Disaster,unknown,unknown,unknown,others,C.,NaN,...,Y,Late afternoon,1.2 m [4'] shark,"G.A. Llano in Airmen Against the Sea, p.69",ND-0044-C.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0044,ND.0044,44
5968,ND.0024,1918 & 1939,0,Unprovoked,reunion,Saint-Denis,Barachois,Swimming,NaN,NaN,...,Y,NaN,NaN,G. Van Grevelynghe,ND-0024-Barachois-Reunion.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0024,ND.0024,25
5977,ND.0015,1917,0,Unprovoked,fiji,Moala Island,unknown,others,20 Fijians,NaN,...,Y,NaN,NaN,"Fijian Society papers presented April 17, 1918...",ND-0015-FijianCanoe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0015,ND.0015,16

In [53]:
percentage_null_sex = round((df['sex'].isnull().sum() / len(df['sex'])) * 100, 2)
percentage_null_sex

9.46

In [54]:
df['sex'].fillna('unknown', inplace=True)

def clean_sex(df):
    
    '''
    Clean letters correspond to sex:
        Input: sex column.
        Return: clean 'sex' letters in the whole dataframe.
    '''
    
    df['sex'] = df['sex'].astype(str)

    all_sex = []
    
    for sex in df['sex']:
        sex = sex.strip()
        all_sex.append(sex)
                             
    df['sex'] = all_sex
    
    return df['sex']

In [55]:
clean_sex(df)

0       M
1       M
2       M
3       M
4       M
       ..
5987    M
5988    M
5989    M
5990    M
5991    M
Name: sex, Length: 5992, dtype: object

In [56]:
df['sex'].value_counts(dropna=False)

M          4837
F           585
unknown     567
lli           1
N             1
.             1
Name: sex, dtype: int64

In [57]:
# reemplazar los caracteres ('lli', 'N', '.') por 'unknown'
df.loc[(df['sex'] == 'N') | (df['sex'] == 'lli') | (df['sex'] == '.'), 'sex'] = 'unknown'

In [58]:
df['sex'].value_counts(dropna=False)

M          4837
F           585
unknown     570
Name: sex, dtype: int64

----

Injury
-----

In [59]:
df[df['injury'].isnull()]

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
1047,2008.04.20.a,20-Apr-08,2008,Unprovoked,australia,New South Wales,Crescent Head,unknown,Jamie Adlington,M,...,UNKNOWN,NaN,"Tiger shark, 2.3m","T. Peake, GSAF",2008.04.20.a-Adlington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.04.20.a,2008.04.20.a,4946
1142,2007.07.00,Jul-07,2007,Invalid,senegal,unknown,unknown,Murder,Alex Takyi,unknown,...,UNKNOWN,NaN,NaN,"Daily Guide, 8/20/2007",2007.07.00-Takyi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007.07.00,2007.07.00,4851
2025,1997.06.07,07-Jun-97,1997,Unprovoked,brazil,Rio de Janeiro,"Copacabana, Rio de Janeiro",Bathing,Jos Luiz Lipiani,M,...,UNKNOWN,NaN,NaN,"Globo, 6/9/1997",1997.06.07-NV-Lipiani.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1997.06.07,1997.06.07,3968
2042,1996.12.29,29-Dec-96,1996,Unprovoked,australia,Queensland,Coolum Beach,Surfing,Blair Hall,M,...,UNKNOWN,18h00,NaN,"The Advertiser, 12/30/1996, p.3",1996.12.29-BlairHall.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1996.12.29,1996.12.29,3951
2423,1990.00.00,1990,1990,Unprovoked,united states,Florida,"Pensacola, Escambia County",Surfing,male,M,...,UNKNOWN,NaN,NaN,NaN,1990.00.00-NV-Pensacola.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1990.00.00,1990.00.00,3571
2813,1981.03.00,Mar-81,1981,Unprovoked,brazil,Rio de Janeiro,Cabo Frio,Diving,NaN,unknown,...,UNKNOWN,NaN,White shark,"Globo,",1981.03.00-Brazil.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1981.03.00,1981.03.00,3180
2982,1975.10.04,04-Oct-75,1975,Invalid,united states,California,"Seal Beach, Orange County",Surfing,NaN,unknown,...,UNKNOWN,NaN,NaN,Unconfirmed Report,1975.10.04-NV-California.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1975.10.04,1975.10.04,3011
3073,1973.08.27,27-Aug-73,1973,Unprovoked,australia,Queensland,Palm Cove Beach,unknown,G. Cole,unknown,...,UNKNOWN,NaN,NaN,"J. Green, p.36",1973.08.27-Cole.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1973.08.27,1973.08.27,2920
3209,1969.05.22,22-May-69,1969,Unprovoked,dominican republic,unknown,unknown,Surfing,"Douglas Kuchn, Jr.",M,...,UNKNOWN,16h00,NaN,H.D.Baldridge (1994) SAF Case #1607,1969.05.22-NV-Kuchn.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1969.05.22,1969.05.22,2784
3231,1968.09.22,22-Sep-68,1968,Invalid,united states,Florida,"Riviera Beach, Palm Beach County",Surfing,NaN,unknown,...,UNKNOWN,12h48,Shark involvement not confirmed,M. Vorenberg,1968.09.22-NV-RivieraBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1968.09.22,1968.09.22,2762
3265,1968.00.00.a,1968,1968,Invalid,united states,Florida,"Jensen Beach, Martin County",Surfing,NaN,unknown,...,UNKNOWN,17h00,NaN,Unverified,1968.00.00.a-NV-JensenBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1968.00.00.a,1968.00.00.a,2728
3486,1964.01.01.b,01-Jan-64,1964,Unprovoked,australia,Western Australia,Metro coast,unknown,Edwards,unknown,...,UNKNOWN,NaN,NaN,"T. Peake, GSAF",1964.01.01.b-NV-Edwards.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1964.01.01.b,1964.01.01.b,2507
3612,1962.02.02,02-Feb-62,1962,Boat,new zealand,North Island,South of New Plymouth,Fishing,"17' fishing launch, occupants: A. Burkitt & C....",unknown,...,UNKNOWN,NaN,NaN,SAF Case #1125,1962.02.02-NV-Burkitt-Brooke-launch.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.02.02,1962.02.02,2381
3615,1962.01.26,26-Jan-62,1962,Unprovoked,mozambique,Gaza,Praia Sepulveda,unknown,Domingos Zefanias Cumbe,M,...,UNKNOWN,NaN,NaN,D. Davies,1962.01.26-Cumbe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.01.26,1962.01.26,2378
3834,1959.09.26.a,26-Sep-59,1959,Boat,united states,South Carolina,"Albergotti Creek, near Air Station boat docks,...",others,"12' boat. Occupants: Capt. E.J. Wines, Maj. W...",unknown,...,UNKNOWN,Midnight,"Said to involve white shark, but species ident...","Gazette (Beaufort, SC), 10.1/1959; SAF Case #577",1959.09.26.a-Wines.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1959.09.26.a,1959.09.26.a,2159
4290,1949.03.00,Mar-1949 or Apr-1949,1949,Boating,australia,South Australia,18 miles south of Port Augusta,unknown,boat,unknown,...,UNKNOWN,NaN,NaN,"G.P. Whitley (1951), p.194; SAF Case #612",1949.03.00-boat-PortAugusta.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1949.03.00,1949.03.00,1703
4746,1932.11.09,08-Nov-32,1932,Sea Disaster,cuba,unknown,unknown,others,NaN,unknown,...,UNKNOWN,NaN,NaN,"Barrier Miner, 11/14/1932",1932.11.09-Hurricane-Cuba.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1932.11.09,1932.11.09,1247
5134,1912.05.04,04-May-12,1912,Invalid,south africa,KwaZulu-Natal,Durban,unknown,arm recovered from hooked shark,M,...,UNKNOWN,NaN,NaN,"M. Levine, GSAF",1912.05.04-arm.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1912.05.04,1912.05.04,859
5308,1901.06.29.R,29-Jun-1901,1901,Invalid,yemen,Aden,unknown,Diving around anchored liner,boy,M,...,UNKNOWN,NaN,NaN,"The Graphic, 6/29/1901",1901.06.29.R-Aden.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1901.06.29.R,1901.06.29.R,685
5697,1862.12.04,04-Dec-1862,1862,Invalid,new zealand,South Island,Lyttleton,unknown,NaN,unknown,...,UNKNOWN,NaN,NaN,"Bendigo Advertiser, 1/3/1863",1862.12.04-Lyttleton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1862.12.04,1862.12.04,296
5845,1755.00.00,1755,1755,Unprovoked,sweden,Skagerrak arm of the North Sea,Bohusln,unknown,Fishermen,M,...,UNKNOWN,NaN,NaN,"C. Moore, GSAF",1755.00.00-Sweden.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1755.00.00,1755.00.00,148
5856,1638.00.00.R,1638,1638,Unprovoked,unknown,unknown,unknown,unknown,sailors,M,...,UNKNOWN,NaN,NaN,Sir Thomas Herbert,1638.00.00.R-Herbert,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1638.00.00.R,1638.00.00.R,137
5857,1637.00.00.R,1637,1637,Unprovoked,india,West Bengal,Hooghly River mouth,Wading,Hindu pilgrims,unknown,...,UNKNOWN,NaN,NaN,"H. Edwards, p.31, citing Sebastian Manrique",1637.00.00.R-Manrique.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1637.00.00.R,1637.00.00.R,136
5858,1617.00.00.R,1617,1617,Unprovoked,india,West Bengal,Ganges Delta,unknown,Indian people,unknown,...,UNKNOWN,NaN,NaN,"H. Edwards, p.31, citing Samuel Purchas",1617.00.00-Purchas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1617.00.00.R,1617.00.00.R,135
5862,1555.00.00,1555,1555,Unprovoked,unknown,unknown,unknown,Swimming,male,M,...,UNKNOWN,NaN,NaN,Olaus Magnus,1555.00.00 - Olaus Magnus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1555.00.00,1555.00.00,131
5863,1554.00.00,1554,1554,Unprovoked,france,Nice & Marseilles,unknown,unknown,males (wearing armor),M,...,UNKNOWN,NaN,Possibly white sharks,G. Rondelet,1554.00.00-Rondelet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1554.00.00,1554.00.00,130
5967,ND.0025,1927,0,Unprovoked,australia,New South Wales,"Spectacle Island, Port Jackson",unknown,"male, the Sergeant of Marines",M,...,UNKNOWN,NaN,NaN,H. Capper,ND-0025-Sgt-SpectacleIsland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0025,ND.0025,26

In [60]:
percentage_null_injury = round((df['injury'].isnull().sum() / len(df['injury'])) * 100, 2)
percentage_null_injury

0.45

In [61]:
df['injury'].fillna('unknown', inplace=True)

def clean_injury(df):
    
    '''
    Clean letters correspond to injury:
        Input: injury column.
        Return: clean 'injury' letters in the whole dataframe.
    '''
    
    df['injury'] = df['injury'].astype(str)

    all_injury = []
    
    for injury in df['injury']:
        injury = injury.strip().lower()
        all_injury.append(injury)
                             
    df['injury'] = all_injury
    
    return df['injury']

df['injury'].replace('fatal.*,*', 'fatal', regex=True, inplace=True)

In [62]:
clean_injury(df)

0                                   minor injury to thigh
1                                    lacerations to hands
2                                lacerations to lower leg
3                            struck by fin on chest & leg
4                   no injury: knocked off board by shark
                              ...
5987                                                fatal
5988                                                fatal
5989                                                fatal
5990                                                fatal
5991    fatal. "shark bit him in half, carrying away t...
Name: injury, Length: 5992, dtype: object

In [63]:
df['injury'].value_counts(dropna=False)

fatal                                                                  739
survived                                                                97
no injury                                                               84
foot bitten                                                             82
leg bitten                                                              74
                                                                      ...
lacerations to left leg & right foot                                     1
laceration on left foot                                                  1
lacerations to left shin, heel & foot                                    1
puncture wounds on upper left thigh                                      1
fatal. "shark bit him in half, carrying away the lower extremities"      1
Name: injury, Length: 3508, dtype: int64

-------

Fatal (Y/N)
----

In [64]:
df[df['fatal_(y/n)'].isnull()]

,case_number,date,year,type,country,area,location,activity,name,sex,...,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
54,2016.06.02.b,02-Jun-16,2016,Unprovoked,australia,New South Wales,Kingscliff,Spearfishing,Waade Madigan and Dr Seyong Kim,M,...,NaN,NaN,Bronze whaler sharks x 3,"Gold Coast Bulletin, 6/4/2016",2016.06.02.b-Matigan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.06.02.b,2016.06.02.b,5939
1844,2000.03.03.R,03-Mar-2000,2000,Invalid,new zealand,North Island,Between the Kakanui River and Campbell's Bay,Kayaking,Ricky Stringer,M,...,NaN,NaN,Shark involvement questionable,"R. D. Weeks, GSAF",2000.03.03.R-Stringer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.03.03.R,2000.03.03.R,4149
2449,1989.07.27,27-Jul-89,1969,Invalid,bermuda,unknown,unknown,Scuba diving,Russian male,M,...,NaN,NaN,Shark involvement suspected but not confirmed,"LA Times, 7/28/1989",1989.07.27-SovietDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1989.07.27,1989.07.27,3545
3280,1967.09.13,13-Sep-67,1967,Provoked,italy,Brindisi Province,Brindisi,Scuba diving,Romeo Guarini,M,...,NaN,NaN,2 m shark,C. Moore. GSAF,1967.09.13-Guarini.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1967.09.13,1967.09.13,2713
3435,1964.09.27,27-Sep-64,1964,Invalid,unknown,unknown,unknown,Spearfishing,Giancarlo Griffon,M,...,NaN,11h00,NaN,C. Moore. GSAF,1964.09.27-Griffon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1964.09.27,1964.09.27,2558
3901,1958.12.28,28-Dec-58,1958,Boat,turkey,Ahirkapi coast,Constantinople,Fishing,Fishing boat. Occupants: Yunus Potur & Ali Durmaz,unknown,...,NaN,NaN,White shark,"C. Moore, GSAF",1958.12.28-Constantinople.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.12.28,1958.12.28,2092
4107,1954.07.27,27-Jul-54,1954,Boating,italy,Venice Province,Off Chioggia,others,10 crew,M,...,NaN,Night,5m shark,"C. Moore, GSAF",1954.07.27-Trawler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1954.07.27,1954.07.27,1886
4112,1954.07.01.R,01-Jul-1954,1954,Invalid,croatia,unknown,Pula,unknown,male,unknown,...,NaN,NaN,NaN,"C. Moore, GSAF",1954.07.01.R-Pula.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1954.07.01.R,1954.07.01.R,1881
5307,1901.07.17,17-Jul-01,1901,Invalid,italy,Syracuse,Capo Santa Croce,Swimming,Antonio Tornatori,M,...,NaN,NaN,NaN,C. Moore,1901.07.17-Antonio.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1901.07.17,1901.07.17,686
5437,1892.06.24,24-Jun-1892,1892,Invalid,france,Brittany,Brest,Fishing boat,NaN,unknown,...,NaN,NaN,NaN,"C.Moore, GSAF",1892.06.24-Brest.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1892.06.24,1892.06.24,556
5468,1889.11.29.R,29-Nov-1889,1889,Invalid,greece,Northern Peloponnese,Patras,unknown,NaN,unknown,...,NaN,NaN,NaN,"C. Moore, GSAF",1889.11.29.R-Greece.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1889.11.29.R,1889.11.29.R,525
5642,1872.08.07.R,07-Aug-1872,1872,Invalid,croatia,unknown,Fiume,Fishing,male,M,...,NaN,NaN,NaN,"C. Moore, GSAF",1872.08.07.R-Fiume.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1872.08.07.R,1872.08.07.R,351
5699,1862.08.02.R,02-Aug-1862,1862,Invalid,spain,Malaga,Fuengirola,unknown,male,M,...,NaN,NaN,NaN,C. Moore,1862.08.02.R-Fuengirola.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1862.08.02.R,1862.08.02.R,294
5718,1859.03.16,16-Mar-1859,1859,Unprovoked,united states,Hawaii,Off Kawaihae,Fell overboard,J.G. Luther,M,...,NaN,NaN,NaN,"Pacific Commercial Advertiser, 3/24/1850",1859.03.16-Luther.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1859.03.16,1859.03.16,275
5747,1852.07.28,28-Jul-52,1852,Invalid,atlantic ocean,unknown,unknown,unknown,Karen Bredesen Strte,F,...,NaN,NaN,NaN,Norway Heritage,1852.07.28-Karen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1852.07.28,1852.07.28,246
5793,1837.00.00.a,1837,1837,Invalid,united states,South Carolina,Southern Wharf,unknown,"adult male, a sailor",M,...,NaN,NaN,Said to be a 7.6 m [25'] shark,W. H. Gregg,1837.00.00.a-remains.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1837.00.00.a,1837.00.00.a,200
5794,1836.07.26.R,1836.07.26.R,1836,Invalid,spain,unknown,unknown,unknown,NaN,unknown,...,NaN,NaN,NaN,"C. Moore, GSAF",1836.07.26.R-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.07.26.R,1836.07.26.R,199
5820,1818.05.22.R,22-May-1818,1818,Invalid,norway,unknown,Hery,unknown,male,M,...,NaN,NaN,NaN,"C. Moore, GSAF",1818.05.22.R-Norway.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1818.05.22.R,1818.05.22.R,173
5849,1733.00.00,1733,1733,Invalid,iceland,Bardestrand,Talkknefiord,unknown,NaN,unknown,...,NaN,NaN,NaN,E. Olafsen,1733.00.00-Iceland.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1733.00.00,1733.00.00,144

In [65]:
percentage_null_fatal = round((df['fatal_(y/n)'].isnull().sum() / len(df['fatal_(y/n)'])) * 100, 2)
percentage_null_fatal

0.32

In [66]:
df['fatal_(y/n)'].fillna('unknown', inplace=True)

def clean_fatal(df):
    
    '''
    Clean letters correspond to fatal:
        Input: fatal column.
        Return: clean 'fatal' letters in the whole dataframe.
    '''
    
    df['fatal_(y/n)'] = df['fatal_(y/n)'].astype(str)

    all_fatal = []
    
    for fatal in df['fatal_(y/n)']:
        fatal = fatal.strip().lower()
        all_fatal.append(fatal)
                             
    df['fatal_(y/n)'] = all_fatal
    
    return df['fatal_(y/n)']

In [67]:
clean_fatal(df)

0       n
1       n
2       n
3       n
4       n
       ..
5987    y
5988    y
5989    y
5990    y
5991    y
Name: fatal_(y/n), Length: 5992, dtype: object

In [68]:
df['fatal_(y/n)'].value_counts(dropna=False)

n          4325
y          1552
unknown     113
f             1
#value!       1
Name: fatal_(y/n), dtype: int64

In [69]:
# reemplazar los caracteres ('f', '#value!') por un 'unknown'
df.loc[(df['fatal_(y/n)'] == 'f') | (df['fatal_(y/n)'] == '#value!')] = 'unknown'

In [70]:
df['fatal_(y/n)'].value_counts(dropna=False)

n          4325
y          1552
unknown     115
Name: fatal_(y/n), dtype: int64

------

Type
----

In [71]:
df[df['type'].isnull()]

Empty DataFrame
Columns: [case_number, date, year, type, country, area, location, activity, name, sex, age, injury, fatal_(y/n), time, species, investigator_or_source, pdf, href_formula, href, case_number_1, case_number_2, original_order]
Index: []

[0 rows x 22 columns]

In [72]:
percentage_null_type = round((df['type'].isnull().sum() / len(df['type'])) * 100, 2)
percentage_null_type

0.0

In [73]:
# Valores unicos del tipo de ataque
df['type'].unique()

array(['Unprovoked', 'Boat', 'Provoked', 'Invalid', 'Sea Disaster',
       'Boating', 'unknown'], dtype=object)

In [74]:
df['type'].value_counts(dropna=False)

Unprovoked      4386
Provoked         557
Invalid          517
Sea Disaster     220
Boat             200
Boating          110
unknown            2
Name: type, dtype: int64

In [75]:
# Funci√≥n para codificar el 'tipo de ataque'

def encode_type_attack(attack: str) -> int:
    
    """
  Recieves a value (type attack by shark) and evaluates it to a number.
      Return: int
    """
    
    if attack == 'Unprovoked':
        return 1
    elif attack == 'Provoked':
        return 2
    elif attack == 'Boat':
        return 3
    elif attack == 'Boating':
        return 4
    elif attack == 'Sea Disaster':
        return 5
    elif attack == 'unknown':
        return 0
    elif attack == 'Invalid':
        return 0

In [76]:
df['type_encoded'] = df['type'].apply(encode_type_attack)

In [77]:
df[['type', 'type_encoded']].tail()

            type  type_encoded
5987  Unprovoked             1
5988  Unprovoked             1
5989  Unprovoked             1
5990  Unprovoked             1
5991  Unprovoked             1

In [78]:
df.columns.get_loc('type')

3

In [79]:
# se inserta la columna 'type_encoded' enseguida de 'type'
column_to_move = df.pop('type_encoded')
df.insert(4, 'type_encoded', column_to_move)

In [80]:
df

,case_number,date,year,type,type_encoded,country,area,location,activity,name,...,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,1,united states,Florida,"New Smyrna Beach, Volusia County",Surfing,male,...,n,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,1,united states,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,...,n,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,1,united states,Florida,"New Smyrna Beach, Volusia County",Surfing,male,...,n,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,1,australia,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,...,n,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,1,australia,Victoria,Bells Beach,Surfing,male,...,n,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,1903,0,Unprovoked,1,australia,Western Australia,Roebuck Bay,Diving,male,...,y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
5988,ND.0004,1903,0,Unprovoked,1,australia,Western Australia,unknown,Pearl diving,Ahmun,...,y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
5989,ND.0003,1900-1905,0,Unprovoked,1,united states,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,...,y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
5990,ND.0002,1883-1889,0,Unprovoked,1,panama,unknown,"Panama Bay 8N, 79W",unknown,Jules Patterson,...,y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3
5991,ND.0001,1845-1853,0,Unprovoked,1,sri lanka,Eastern Province,"Below the English fort, Trincomalee",Swimming,male,...,y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2

------

Age
----

In [81]:
df[df['age'].isnull()]

,case_number,date,year,type,type_encoded,country,area,location,activity,name,...,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number_1,case_number_2,original_order
3,2016.09.17,17-Sep-16,2016,Unprovoked,1,australia,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,...,n,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,1,australia,Victoria,Bells Beach,Surfing,male,...,n,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989
5,2016.09.15.R,15-Sep-16,2016,Boat,3,australia,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,...,n,NaN,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988
10,2016.09.05.a,05-Sep-16,2016,Unprovoked,1,australia,Western Australia,Injidup,Surfing,Fraser Penman,...,n,Late afternoon,NaN,"Perth Now, 9/5/2016",2016.09.05.a-Penman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.a,2016.09.05.a,5983
22,2016.07.28,28-Jul-16,2016,Boat,3,australia,Western Australia,Near Albany,Kayaking,Ian Watkins,...,n,NaN,White shark,"ABC Australia, 7/28/2016",2016.07.28-Watkins.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.28,2016.07.28,5971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5986,ND.0006,1906,0,Unprovoked,1,australia,New South Wales,unknown,Swimming,Arab boy,...,y,NaN,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7
5987,ND.0005,1903,0,Unprovoked,1,australia,Western Australia,Roebuck Bay,Diving,male,...,y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
5988,ND.0004,1903,0,Unprovoked,1,australia,Western Australia,unknown,Pearl diving,Ahmun,...,y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
5989,ND.0003,1900-1905,0,Unprovoked,1,united states,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,...,y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
5990,ND.0002,1883-1889,0,Unprovoked,1,panama,unknown,"Panama Bay 8N, 79W",unknown,Jules Patterson,...,y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3

In [82]:
percentage_null_age = round((df['age'].isnull().sum() / len(df['age'])) * 100, 2)
percentage_null_age

44.78

In [83]:
df['age'].fillna('unkown', inplace=True)

def clean_age(df):
    
    '''
    Clean age names:
        Input: 'age' names.
        Return: modified 'age' names in the whole dataframe.
    '''
    
    df['age'] = df['age'].astype(str)

    ages = []
    for age in df['age']:
        age = age.strip().lower()
        age = age.replace('?','')
        age = age.replace(' &',',')
        age = age.replace('s','')
        age = age.replace("'s","")
        age = age.replace('>','')
        age = age.replace('[','')
        age = age.replace(']','')
        age = age.replace('(','')
        age = age.replace(')','')
        age = age.replace('"','')
        age = age.replace("''",'')
        ages.append(age)
                             
    df['age'] = ages
    
    return df['age']

df['age'].replace(' or.*,*', '', regex=True, inplace=True)
df['age'].replace(' to.*,*', '', regex=True, inplace=True)

In [84]:
clean_age(df)

0           16
1           36
2           43
3       unkown
4       unkown
         ...
5987    unkown
5988    unkown
5989    unkown
5990    unkown
5991        15
Name: age, Length: 5992, dtype: object

In [85]:
# reemplazando valores espeicficos 

df['age'] = df['age'].replace({'   ,   14': 14,
                    '"middle-age"': 25,
                    '"young"': 18,
                    'adult': 35,
                    '(adult)': 35,
                    ', 19': 19,
                    '18 month':'under 1',
                    '21, ': 21,
                    '7     ,    31':'7, 31', 
                    '9 month':'< 1',
                    'a.m.': 'unkown',
                    'age':'unkown',
                    'both 11':11,
                    'ca. 33':'unkown',
                    'elderly': 70,
                    'f':'unkown',
                    'm':'unkown',
                    'make line green':'unkown',
                    'mid-20': 25,
                    'mid-30': 35,
                    'teen': 18,
                    'middle-age': 40,
                    'teen': 18,
                    'mid-30': 35,
                    'young':18,
                    "60'": 60,
                    'x':'unkown'})

In [86]:
df['age'].value_counts(dropna=False)

unkown    2690
17         148
18         147
20         143
19         138
          ...
87           1
67           1
70           1
25           1
14           1
Name: age, Length: 113, dtype: int64

In [87]:
df[df['age'].isnull()]

Empty DataFrame
Columns: [case_number, date, year, type, type_encoded, country, area, location, activity, name, sex, age, injury, fatal_(y/n), time, species, investigator_or_source, pdf, href_formula, href, case_number_1, case_number_2, original_order]
Index: []

[0 rows x 23 columns]

------

Year
---

In [88]:
percentage_null_year = round((df['year'].isnull().sum() / len(df['year'])) * 100, 2)
percentage_null_year

0.0

In [90]:
df['year'].unique()

array([2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006,
       2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996, 1995,
       1984, 1994, 1993, 1992, 1991, 1990, 1989, 1969, 1988, 1987, 1986,
       1985, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1975, 1974,
       1973, 1972, 1971, 1970, 1968, 1967, 1966, 1965, 1964, 1963, 1962,
       1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951,
       1950, 1949, 1948, 1848, 1947, 1946, 1945, 1944, 1943, 1942, 1941,
       1940, 1939, 1938, 1937, 1936, 1935, 'unknown', 1934, 1933, 1932,
       1931, 1930, 1929, 1928, 1927, 1926, 1925, 1924, 1923, 1922, 1921,
       1920, 1919, 1918, 1917, 1916, 1915, 1914, 1913, 1912, 1911, 1910,
       1909, 1908, 1907, 1906, 1905, 1904, 1903, 1902, 1901, 1900, 1899,
       1898, 1897, 1896, 1895, 1894, 1893, 1892, 1891, 1890, 1889, 1888,
       1887, 1886, 1885, 1884, 1883, 1882, 1881, 1880, 1879, 1878, 1877,
       1876, 1875, 1874, 1873, 1872, 1871, 1870, 1869, 1868, 1867, 1866,
       1865, 1864, 1863, 1862, 1861, 1860, 1859, 1858, 1856, 1855, 1854,
       1853, 1852, 1851, 1850, 1849, 1847, 1846, 1845, 1844, 1842, 1841,
       1840, 1839, 1837, 1836, 1835, 1834, 1832, 1831, 1830, 1829, 1828,
       1827, 1826, 1825, 1822, 1819, 1818, 1817, 1816, 1812, 1811, 1807,
       1805, 1804, 1803, 1800, 1791, 1788, 1787, 1785, 1779, 1776, 1771,
       1767, 1764, 1758, 1749, 1755, 1748, 1742, 1738, 1733, 1721, 1703,
       1700, 1642, 1638, 1637, 1617, 1595, 1580, 1555, 1554, 1543, 500,
       77, 5, 0], dtype=object)

------

Name
----

In [91]:
percentage_null_name = round((df['name'].isnull().sum() / len(df['name'])) * 100, 2)
percentage_null_name

3.32

In [92]:
df['name'].fillna('unknown', inplace=True)

def clean_name(df):
    
    '''
    Clean 'name' column:
        Input: 'name' column.
        Return: 'name' column in the whole dataframe.
    '''
    
    df['name'] = df['name'].astype(str)

    all_names = []
    for name in df['name']:
        name = name.strip()
        
        all_names.append(name)
                             
    df['name'] = all_names
    
    return df['name']

In [93]:
clean_name(df)

0                        male
1              Chucky Luciano
2                        male
3             Rory Angiolella
4                        male
                ...
5987                     male
5988                    Ahmun
5989    Coast Guard personnel
5990          Jules Patterson
5991                     male
Name: name, Length: 5992, dtype: object

Species
---

In [94]:
percentage_null_species = round((df['species'].isnull().sum() / len(df['species'])) * 100, 2)
percentage_null_species

49.07

In [95]:
df['species'].fillna('unknown', inplace=True)

def clean_species(df):
    
    '''
    Clean 'species' column:
        Input: 'species' column.
        Return: 'species' column in the whole dataframe.
    '''
    
    df['species'] = df['species'].astype(str)

    all_species = []
    for species in df['species']:
        species = species.strip().lower()
        
        all_species.append(species)
                             
    df['species'] = all_species
    
    return df['species']

In [96]:
clean_species(df)

0         unknown
1         unknown
2         unknown
3         unknown
4       2 m shark
          ...
5987      unknown
5988      unknown
5989      unknown
5990      unknown
5991      unknown
Name: species, Length: 5992, dtype: object

-----

Investigator or Source
----

In [97]:
percentage_null_source = round((df['investigator_or_source'].isnull().sum() / len(df['investigator_or_source'])) * 100, 2)
percentage_null_source

0.25

In [98]:
df['investigator_or_source'].fillna('unknown', inplace=True)

def clean_source(df):
    
    '''
    Clean 'source' column:
        Input: 'source' column.
        Return: 'source' column in the whole dataframe.
    '''
    
    df['investigator_or_source'] = df['investigator_or_source'].astype(str)

    all_sources = []
    for source in df['investigator_or_source']:
        source = source.strip()
        
        all_sources.append(source)
                             
    df['investigator_or_source'] = all_sources
    
    return df['investigator_or_source']

In [99]:
clean_source(df)

0                 Orlando Sentinel, 9/19/2016
1                 Orlando Sentinel, 9/19/2016
2                 Orlando Sentinel, 9/19/2016
3                          The Age, 9/18/2016
4                          The Age, 9/16/2016
                        ...
5987         H. Taunton; N. Bartlett,  p. 234
5988    H. Taunton; N. Bartlett,  pp. 233-234
5989     F. Schwartz, p.23; C. Creswell, GSAF
5990                      The Sun, 10/20/1938
5991                               S.W. Baker
Name: investigator_or_source, Length: 5992, dtype: object

--------------

CSV
----

In [100]:
df.columns

Index(['case_number', 'date', 'year', 'type', 'type_encoded', 'country',
       'area', 'location', 'activity', 'name', 'sex', 'age', 'injury',
       'fatal_(y/n)', 'time', 'species', 'investigator_or_source', 'pdf',
       'href_formula', 'href', 'case_number_1', 'case_number_2',
       'original_order'],
      dtype='object')

In [101]:
# Se recortan las siguientes columnas para el csv limpio:
df = df.drop(axis = 1, columns = ['time', 'pdf', 'href_formula', 'case_number_1', 'case_number_2', 'original_order'])

In [102]:
df

,case_number,date,year,type,type_encoded,country,area,location,activity,name,sex,age,injury,fatal_(y/n),species,investigator_or_source,href
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,1,united states,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,minor injury to thigh,n,unknown,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,1,united states,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,lacerations to hands,n,unknown,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,1,united states,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,lacerations to lower leg,n,unknown,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
3,2016.09.17,17-Sep-16,2016,Unprovoked,1,australia,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,unkown,struck by fin on chest & leg,n,unknown,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
4,2016.09.15,16-Sep-16,2016,Unprovoked,1,australia,Victoria,Bells Beach,Surfing,male,M,unkown,no injury: knocked off board by shark,n,2 m shark,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,1903,0,Unprovoked,1,australia,Western Australia,Roebuck Bay,Diving,male,M,unkown,fatal,y,unknown,"H. Taunton; N. Bartlett, p. 234",http://sharkattackfile.net/spreadsheets/pdf_di...
5988,ND.0004,1903,0,Unprovoked,1,australia,Western Australia,unknown,Pearl diving,Ahmun,M,unkown,fatal,y,unknown,"H. Taunton; N. Bartlett, pp. 233-234",http://sharkattackfile.net/spreadsheets/pdf_di...
5989,ND.0003,1900-1905,0,Unprovoked,1,united states,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,unkown,fatal,y,unknown,"F. Schwartz, p.23; C. Creswell, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
5990,ND.0002,1883-1889,0,Unprovoked,1,panama,unknown,"Panama Bay 8N, 79W",unknown,Jules Patterson,M,unkown,fatal,y,unknown,"The Sun, 10/20/1938",http://sharkattackfile.net/spreadsheets/pdf_di...
5991,ND.0001,1845-1853,0,Unprovoked,1,sri lanka,Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"fatal. ""shark bit him in half, carrying away t...",y,unknown,S.W. Baker,http://sharkattackfile.net/spreadsheets/pdf_di...

In [103]:
df.to_csv('clean_global_shark_attacks.csv', index=False)